# Python
__pycache__/
.DS_Store
**/.DS_Store
*.py[cod]
*$py.class

# Colab / Jupyter
.ipynb_checkpoints/
.virtual_envs/

# Données et Modèles (Trop lourds pour GitHub)
models/
*.bin
*.pt
*.h5
*.csv
*.tsv
roberta_fake_news/
roberta_fake_news.zip
roberta_fine_tunned/
roberta_fine_tunned.zip

# Environnement
.env/
venv/