# Python
__pycache__/
.DS_Store
**/.DS_Store
*.py[cod]
*$py.class

# Colab / Jupyter
.ipynb_checkpoints/
.virtual_envs/

# Données et Modèles (Trop lourds pour GitHub)
models/
*.bin
*.pt
*.h5
*.csv
*.tsv
roberta_fake_news/
roberta_fake_news.zip
roberta_fine_tunned/
roberta_fine_tunned.zip

# Environnement
.env/
venv/
.venv/

# Résultats d'entraînement et modèles (fichiers lourds)
knowledge_branch/results/
knowledge_branch/my_claim_model/
knowledge_branch/claim_detector_model/
knowledge_branch/claim_detector_results/
knowledge_branch/train.jsonl
*.safetensors
style_branch/roberta_fine_tunned/
*.zip
data/knowledge_based/train.jsonl
